body {
	background-color: grey; margin-left: 50%; 
	background-image: url("h1z1 map project.jpeg");
	background-repeat: no-repeat;
	
   
} 
h1{
	color: rgb(191, 0, 0); font-size: 100px; text-align: center;
	
}
html { 

  

   

